In [0]:
-- Para primera ejecución
USE CATALOG workspace;
CREATE SCHEMA IF NOT EXISTS DUMMY_DATA;
USE SCHEMA DUMMY_DATA;


CREATE OR REPLACE TABLE clientes_run1 AS
SELECT * FROM VALUES
 (1, 'Ana Gómez', '12345678Z', 'ana.gomez@example.com', 30, 'ES', '2024-05-01'),
 (2, 'Luis Pérez', 'X1234567L', 'luis.perez@example.com', 25, 'ES', '2024-05-02'),   
 (3, 'Marta López', '1234567A', 'marta.lopez@example.com', 40, 'ES', '2024-05-03'),   
 (4, 'Juan Torres', NULL, 'juan@@example.com', 120, 'ES', '2024-05-05'),             
 (5, 'Clara Ruiz', '98765432M', NULL, 28, 'ES', '2024-05-06'),                        
 (6, 'Mario Díaz', '12345678A', 'mario@example.com', 16, 'ES', '2024-05-07'),         
 (7, 'Sara Gil', '00000000T', 'sara.gil@example.com', 45, 'FR', '2024-05-08')        
AS clientes(customer_id, name, dni, email, age, country, registration_date);

-- Para segunda ejecución
CREATE OR REPLACE TABLE clientes_run2 AS
SELECT * FROM VALUES
 (1, 'Ana Gómez', '12345678Z', 'ana.gomez@example.com', 30, 'ES', '2024-05-01'),
 (2, 'Luis Pérez', 'X1234567L', 'luis.perez@example.com', 25, 'ES', '2024-05-02'),
 (3, 'Marta López', '12345678A', 'marta.lopez@example.com', 40, 'ES', '2024-05-03'), 
 (4, 'Juan Torres', '00000000T', 'juan.torres@example.com', 45, 'ES', '2024-05-05'), 
 (5, 'Clara Ruiz', '98765432M', 'clara.ruiz@example.com', 28, 'ES', '2024-05-06'),   
 (6, 'Mario Díaz', '12345678A', 'mario@example.com', 16, 'ES', '2024-05-07'),        
 (8, 'Nuria Vega', '23456789B', 'nuriavegaexample.com', 33, 'ES', '2024-05-08')      
AS clientes(customer_id, name, dni, email, age, country, registration_date);

CREATE OR REPLACE TABLE clientes_run3 AS
SELECT * FROM VALUES
 (10, 'Carlos Mora', '99999999R', 'carlos.mora@example.com', 32, 'ES', '2024-06-01'),
 (11, 'Lucía Ríos', 'A1234567B', '', 27, 'ES', '2024-06-02'),     
 (12, 'Pedro Soto', 'B1234567C', 'pedro.soto@example.com', 17, 'ES', '2024-06-03'),  
 (13, 'Bea León', '12345678P', 'bea.leon@example.com', 25, 'ES', '2024-06-04')
AS clientes(customer_id, name, dni, email, age, country, registration_date);


-- para tercera ejecución
CREATE OR REPLACE TABLE clientes_run4 AS
SELECT * FROM VALUES
 (1, 'Ana Gómez', '12345678Z', 'ana.gomez@example.com', 30, 'ES', '2024-05-01'),
 (2, 'Luis Pérez', 'X1234567L', 'luis.perez@example.com', 25, 'ES', '2024-05-02'),
 (3, 'Marta López', '12345678A', 'marta.lopez@example.com', 40, 'ES', '2024-05-03'),
 (4, 'Juan Torres', '00000000T', 'juan.torres@example.com', 45, 'ES', '2024-05-05'),
 (5, 'Clara Ruiz', '98765432M', 'clara.ruiz@example.com', 28, 'ES', '2024-05-06'),
 (6, 'Mario Díaz', '12345678A', 'mario@example.com', 19, 'ES', '2024-05-07') 
AS clientes(customer_id, name, dni, email, age, country, registration_date);


CREATE OR REPLACE TABLE clientes_run5 AS
SELECT * FROM VALUES
 (10, 'Carlos Mora', '99999999R', 'carlos.mora@example.com', 32, 'ES', '2024-06-01'),
 (11, 'Lucía Ríos', 'A1234567B', 'lucia.rios@example.com', 27, 'ES', '2024-06-02'), 
 (12, 'Pedro Soto', 'B1234567C', 'pedro.soto@example.com', 17, 'ES', '2024-06-03'),  
 (13, 'Bea León', '12345678P', 'bea.leon@example.com', 25, 'ES', '2024-06-04'),
 (14, 'Óscar Rojo', NULL, 'oscar.rojo@example.com', 22, 'ES', '2024-06-05')         
AS clientes(customer_id, name, dni, email, age, country, registration_date);